@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: midnight;
    src: url('/fonts/ms.otf');
}

body{
    background-color: white;
}

.navbar {
    width: 100% !important;
}

li > a:hover{
    background-color:#086671 !important;
    color: white;
}

#sprawdzam > a:visited {
    color: #1ac5d9 !important;
    font-family: midnight;
}

#sprawdzam > a:hover, a:active {
    color: #1ac5d9 !important;
    font-family: midnight;
}

#sprawdzam > a {
    color: #1ac5d9 !important;
    font-family: midnight;
    font-size: 50px; !important;
}

.navbar-brand {
    background-image: url('../img/logo-min.png');
    width: 325px;
    height: 33px;
    margin: 30px 0px 30px 20px;
}

@media (max-width: 1920px) {

    .navbar-brand {
        background-image: url('../img/logo-mobile.png');
        width: 225px;
        height: 23px;
    }

}

.navbar {
    background-color: rgba(26, 197, 217, 0.6);
    position: fixed !important;
    z-index: 99;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0,242,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,242,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: 26px;
    margin-right: 20px;
    color: white;

}

@media (max-width: 1920px) {

    .nav-link {
        font-size: 22px;
    }
}

#image-slider-1{
    padding: 0px;
    margin: 0px;
}

#image-slider-2{
    padding: 0px;
    margin: 0px;
}

.header-image{
    top:80%;
    margin-left: 50px;
    position: absolute;
    display:block;
    color: white;
    font-size: 60px;
    font-family: midnight;
    text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 1336px) {

    .header-image {
        font-size: 36px;
        top: 70%;
    }
}

#icon1{
    background-image: url('../img/icon1.png');
    width: 382px;
    height: 254px;
}

#icon2{
    background-image: url('../img/icon2.png');
    width: 200px;
    height: 169px;
}

#icon3{
    background-image: url('../img/icon3.png');
    width: 218px;
    height: 212px;
}

#icon4{
    background-image: url('../img/icon4.png');
    width: 291px;
    height: 209px;
}

#icon1, #icon2, #icon3, #icon4{
    margin-left: 50px;
    margin-top: 40px;
}

#twoje-auto-nigdy{
    margin-top: 20px;
    color: #1ac5d9;
    text-align: center;
}

#sprawdzam{
    margin: 0 0 60px 0; font-weight: bold;
    color: #1ac5d9;
    text-align: center;
}

#nie-bylo{
    text-align: center;
    color: #1ac5d9;
    text-align: center;
    padding-bottom: 50px;
}

#fast-contact{
    background-color: #0491a1;
    width: 100% !important;
    max-height: auto;
}

#text-fast-contact{
    color: white;
    font-family: Anton;
}

#contact-img{
    float: right;
}

h4{
    padding-top: 5%;
}

h2{
    padding-top: 1%;
}

h1{
    padding-top: 2%;
}

@media (max-width: 1024px) {

    h4 {
        padding-top: 10px;
        font-size: 15px !important;
    }
    h2 {
        padding-top: 10px;
        font-size: 18px !important;
    }
    h1 {
        padding-top: 20px;
        font-size: 25px !important;
    }
}
/* price-list page */

td {
    font-family: Anton;
    font-size: 34px;
}

@media (max-width: 1024px) {

    td{
        font-size: 13px;
    }

    th{
        font-size: 10px;
    }
}

#welcome-icons{
    padding: 3% 2% 0% 2% !important;
}

.table-dark{
    background-color: #0491a1;
}

td:nth-child(even) {
    background-color: #2dddf2;
}

#pot{
    z-index: -10;
    position:absolute;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
    0% {
        right: 0;
        top: 0%;
    }

    25%{
        top: 4%;
    }
    50%{
        right : 2%;
        top: 2%;
    }
    100%{
        right: 0;
        top: 0%;
    }
}

#pricelist{
    z-index: -99;
    background-color: #1ac5d9;
    padding: 2% 0 2% 0;
    position: relative;
}

table {
    z-index: 99;
    max-width: 40%;
    margin: auto;
    text-align: center;
}

@media (max-width: 1921px) {
    table {
        max-width: 55%;
    }
}

@media (max-width: 1024px) {
    table {
        max-width: 100%;
    }
}

th {
    background-color: #1ac5d9 !important;
    border: 0px !important;
}

td {
    border-color: #2dddf2 !important;
    border-size: 15px !important;
}

#services_text {
    text-shadow: 1px 1px 2px #000000;
    color: white;
    font-family: Oswald;
    font-size: 20px;
}

#pricelist-text{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1ac5d9;
    width: 100%;
}

@media (max-width: 1921px) {
    #services_text {
        font-size: 21px;
    }
}

@media (max-width: 1024px) {
    #services_text {
        font-size: 16px;
    }
}

#services_font_size{
    text-shadow: 1px 1px 2px #000000;
    color: white;
    font-family: Oswald;
    font-size: 30px;
    padding: 5px;
}

@media (max-width: 1024px) {

    .services_font_size{
        font-size: 20px;
    }
}

#contact {
    background-color: #086876;
    color: white;
    font-family: Oswald;
    font-size: 28px;
    float: left;
}

.contact-big{
    font-size: 40px;
}
